* {
  box-sizing: border-box;
  
}
.container-fluid{
  background-color: #1E1E1E;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 16%;
  background-color: #20342D;
  position: fixed;
  height: 100%;
  overflow: auto;
  z-index: 99;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: grey;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.container-header{
  background-color: #142922;
}
/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
.container-content {
  background-color: #142922;
  color: white; 
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 10%; /*Due to side reduce to 10% so that div content will be reduce to 11%*/
  }
  .sidebar a {float: left;}
  div.content {margin-left: 11%;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    
    float: left;
  }
}
.dropdown-item{
  margin-left: 15% ;
}
.space{
  border:solid, black;
  border-width: 1px 0;
  width: 5rem;
  flex-shrink: 0;
}
.container-box{
  width: 281px;
  height: 224px;
}
.container-box-text{
  background-color: #117967;
  border-radius: 20px;
  width: 281px;
  height: 57px;
  text-align: center;
  font-size: 30px;
}
.container-box-img{
  margin-top: 23px;
  margin-left: 10px;
  width: 150px;
  height: 150px;
  background-color: white;
}
.text-MV{
  font-size: 2rem;
  width: 125px;
  height: 46px;
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 13px;
}
.text-MV-2{
  width: 168px;
  height: 47px;
  background-color: #D8D8D8;
  color: black;
  border: 1px solid white;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 12px;
  font-size: 2rem;
}
.MV{
  width: 16rem;
  height: 9rem;
  background-color: #ffffff;
  margin-top: 2rem;
  border-radius: 20px;
}
.bi-play-circle-fill{
  position: relative;
  margin-left: 185px;
  font-size: 3rem;
  color: black;
}
